body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fff !important;
}
.user_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgb(0, 122, 128);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form_container {
  margin-top: 20px;
}

#form-title {
  color: #fff;
}

.login_btn {
  background-color: rgb(88, 182, 182);
  color: #fff;
}

.login_btn:hover {
  background-color: rgb(88, 200, 182);
}

.login_btn:focus {
  background-color: rgb(88, 200, 182);
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  border: 1px solid #fff !important;
  background-color: rgb(88, 182, 182) !important;
  color: teal !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
